@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: all 0.3s;
}

.icon-surface1-62:before {
  content: "\e900";
}

.icon-surface1-60:before {
  content: "\e901";
}

.icon-surface1-61:before {
  content: "\e902";
}

.icon-Varlk-74 .path1:before {
  content: "\e903";
  color: rgb(0, 102, 178);
}

.icon-Varlk-74 .path2:before {
  content: "\e904";
  margin-left: -3.08203125em;
  color: rgb(0, 102, 178);
}

.icon-Varlk-74 .path3:before {
  content: "\e905";
  margin-left: -3.08203125em;
  color: rgb(0, 102, 178);
}

.icon-Varlk-74 .path4:before {
  content: "\e906";
  margin-left: -3.08203125em;
  color: rgb(0, 102, 178);
}

.icon-Varlk-74 .path5:before {
  content: "\e907";
  margin-left: -3.08203125em;
  color: rgb(249, 165, 51);
}

.icon-surface1-59:before {
  content: "\e908";
}

.icon-Varlk-70 .path1:before {
  content: "\e909";
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path2:before {
  content: "\e90a";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path3:before {
  content: "\e90b";
  margin-left: -1.6708984375em;
  color: rgb(236, 28, 46);
}

.icon-Varlk-70 .path4:before {
  content: "\e90c";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path5:before {
  content: "\e90d";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path6:before {
  content: "\e90e";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path7:before {
  content: "\e90f";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path8:before {
  content: "\e910";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path9:before {
  content: "\e911";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path10:before {
  content: "\e912";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path11:before {
  content: "\e913";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path12:before {
  content: "\e914";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path13:before {
  content: "\e915";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path14:before {
  content: "\e916";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path15:before {
  content: "\e917";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path16:before {
  content: "\e918";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path17:before {
  content: "\e919";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path18:before {
  content: "\e91a";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path19:before {
  content: "\e91b";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path20:before {
  content: "\e91c";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path21:before {
  content: "\e91d";
  margin-left: -1.6708984375em;
  color: rgb(236, 28, 46);
}

.icon-Varlk-70 .path22:before {
  content: "\e91e";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path23:before {
  content: "\e91f";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path24:before {
  content: "\e920";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path25:before {
  content: "\e921";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path26:before {
  content: "\e922";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path27:before {
  content: "\e923";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path28:before {
  content: "\e924";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path29:before {
  content: "\e925";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path30:before {
  content: "\e926";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path31:before {
  content: "\e927";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path32:before {
  content: "\e928";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path33:before {
  content: "\e929";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path34:before {
  content: "\e92a";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path35:before {
  content: "\e92b";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path36:before {
  content: "\e92c";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path37:before {
  content: "\e92d";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path38:before {
  content: "\e92e";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path39:before {
  content: "\e92f";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path40:before {
  content: "\e930";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path41:before {
  content: "\e931";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path42:before {
  content: "\e932";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path43:before {
  content: "\e933";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path44:before {
  content: "\e934";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path45:before {
  content: "\e935";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-Varlk-70 .path46:before {
  content: "\e936";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path47:before {
  content: "\e937";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path48:before {
  content: "\e938";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path49:before {
  content: "\e939";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path50:before {
  content: "\e93a";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path51:before {
  content: "\e93b";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path52:before {
  content: "\e93c";
  margin-left: -1.6708984375em;
  color: rgb(251, 178, 49);
}

.icon-Varlk-70 .path53:before {
  content: "\e93d";
  margin-left: -1.6708984375em;
  color: rgb(255, 255, 255);
}

.icon-surface1-56:before {
  content: "\e93e";
}

.icon-surface1-57:before {
  content: "\e93f";
}

.icon-surface1-58:before {
  content: "\e940";
}

.icon-surface1-52:before {
  content: "\e941";
}

.icon-surface1-53:before {
  content: "\e942";
}

.icon-surface1-54:before {
  content: "\e943";
}

.icon-surface1-55:before {
  content: "\e944";
}

.icon-surface1-47:before {
  content: "\e945";
}

.icon-surface1-48:before {
  content: "\e946";
}

.icon-surface1-49:before {
  content: "\e947";
}

.icon-surface1-50:before {
  content: "\e948";
}

.icon-surface1-51:before {
  content: "\e949";
}

.icon-surface1-42:before {
  content: "\e94a";
}

.icon-surface1-43:before {
  content: "\e94b";
}

.icon-surface1-44:before {
  content: "\e94c";
}

.icon-surface1-45:before {
  content: "\e94d";
}

.icon-surface1-46:before {
  content: "\e94e";
}

.icon-d-d-copy-4:before {
  content: "\e94f";
}

.icon-surface1-39:before {
  content: "\e950";
}

.icon-surface1-40:before {
  content: "\e951";
}

.icon-surface1-41:before {
  content: "\e952";
}

.icon-surface1-41:hover {
  color: #ec3b65 !important;
}

.icon-Varlk-51:before {
  content: "\e953";
}

.icon-surface1-34:before {
  content: "\e954";
}

.icon-surface1-35:before {
  content: "\e955";
}

.icon-surface1-36:before {
  content: "\e956";
}

.icon-surface1-36:hover {
  color: #1173e1 !important;
}

.icon-surface1-37:before {
  content: "\e957";
}

.icon-surface1-38:before {
  content: "\e958";
}

.icon-surface1-30:before {
  content: "\e959";
}

.icon-surface1-31:before {
  content: "\e95a";
}

.icon-surface1-32:before {
  content: "\e95b";
}

.icon-surface1-33:before {
  content: "\e95c";
}

.icon-Varlk-41:before {
  content: "\e95d";
}

.icon-surface1-26:before {
  content: "\e95e";
}

.icon-surface1-27:before {
  content: "\e95f";
}

.icon-surface1-28:before {
  content: "\e960";
}

.icon-surface1-29:before {
  content: "\e961";
}

.icon-surface1-22:before {
  content: "\e962";
}

.icon-surface1-23:before {
  content: "\e963";
}

.icon-surface1-24:before {
  content: "\e964";
}

.icon-surface1-25:before {
  content: "\e965";
}

.icon-surface1-17:before {
  content: "\e966";
}

.icon-surface1-18:before {
  content: "\e967";
}

.icon-surface1-19:before {
  content: "\e968";
}

.icon-surface1-20:before {
  content: "\e969";
}

.icon-surface1-21:before {
  content: "\e96a";
}

.icon-surface1-15:before {
  content: "\e96b";
}

.icon-surface1-16:before {
  content: "\e96c";
}

.icon-surface1-11:before {
  content: "\e96d";
}

.icon-surface1-12:before {
  content: "\e96e";
}

.icon-surface1-13:before {
  content: "\e96f";
}

.icon-surface1-14:before {
  content: "\e970";
}

.icon-surface1-10:before {
  content: "\e971";
}

.icon-Varlk-18:before {
  content: "\e972";
}

.icon-surface1-5:before {
  content: "\e973";
}

.icon-surface1-6:before {
  content: "\e974";
}

.icon-surface1-7:before {
  content: "\e975";
}

.icon-surface1-8:before {
  content: "\e976";
}

.icon-surface1-9:before {
  content: "\e977";
}

.icon-Varlk-11:before {
  content: "\e978";
}

.icon-surface1-4:before {
  content: "\e979";
}

.icon-Varlk-9:before {
  content: "\e97a";
}

.icon-surface1-2:before {
  content: "\e97b";
}

.icon-surface1-3:before {
  content: "\e97c";
}

.icon-surface1:before {
  content: "\e97d";
}
